.idea/
.settings/
*.iml
*.ipr
*.iws
*target/
*out/
*.classpath
*.project
*.checkstyle
*.bak
*.pmd
*.externalToolBuilders/
*.log
*.war
*.springBeans
*.versionsBackup
*.orig
test/mya-tomcat/conf/Catalina/
home
node_modules