<div class="container">

    <form class="form-horizontal" name="fmcGwForm" ng-submit="validateForm()">

    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h1>FMC Familie weekend 2015 Registratie</h1>
            <p>Op deze pagina kun u zich inschrijven voor het FMC Familieweekend, welke wordt gehouden van 1 t/m 4 mei 2015.</p>
            <p class="bg-warning">Let op! Er gelden speciale prijzen tijdens de Early Bird periode (tot 1 april 2015)</p>
            <p><strong>Toelichting op het formulier:</strong><br />
            Bent u alleenstaand, vrijgezel en-/of ongehuwd, klik dan "Individu" aan. Vormt u een gezin, klik dan "Gezin" aan.<br />
            In het vak "Opmerkingen" kunt u bepaalde dingen kwijt. Bijvoorbeeld: Ik ben vegetarisch, of ik ben allergisch voor.. etc.
            </p>
            <div class="col-sm-8">
                <h3 class="h3">Prijzen</h3>
                <table class="table table-bordered table-condensed">
                    <tbody>
                    <tr class="info">
                        <th></th>
                        <th>Early bird</th>
                        <th>Normaal</th>
                    </tr>
                    <tr>
                        <td>Volwassenen</td>
                        <td>100 euro</td>
                        <td>115 euro</td>
                    </tr>
                    <tr>
                        <td>Kinderen (4-12 jaar)</td>
                        <td>40 euro</td>
                        <td>50 euro</td>
                    </tr>
                    <tr>
                        <td>Kinderen (< 4 jaar)</td>
                        <td>gratis</td>
                        <td>gratis</td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="type" ng-model="fmcGwModel.type" value="individual" required />
                        Individu
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="type" ng-model="fmcGwModel.type" value="family" required />
                        Gezin
                    </label>
                </div>
            </div>

        </div>

        <div ng-show="fmcGwModel.type">
            <div class="form-group" ng-if="fmcGwModel.type == 'individual'">
        <!--     <div class="form-group"> -->
                <label class="col-sm-2 control-label" for="firstName">Voornaam:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="firstName" ng-model="fmcGwModel.firstName" required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="familyName">Achternaam:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="familyName" ng-model="fmcGwModel.familyName" required />
                </div>
            </div>

            <div class="form-group" ng-if="fmcGwModel.type == 'individual'">
                <label class="col-sm-2 control-label" for="individualGender">Geslacht:</label>
                <div class="col-sm-10">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="individualGender" ng-model="fmcGwModel.individualGender" value="male" required />
                            Man
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="individualGender" ng-model="fmcGwModel.individualGender" value="female" required />
                            Vrouw
                        </label>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="telephone">Telefoonnummer:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="telephone" ng-model="fmcGwModel.telephone" required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="email" ng-model="fmcGwModel.email" required />
                </div>
            </div>

            <div class="form-group" ng-if="fmcGwModel.type == 'individual'">
                <label class="col-sm-2 control-label" for="individualBirthdate">Geboortedatum:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="individualBirthdate" ng-model="fmcGwModel.individualBirthdate" required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="familyName">Satelliet gemeente:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="satellite" ng-model="fmcGwModel.satellite" required="required">
                        <option value="">--</option>
                        <option value="Delft">Delft</option>
                        <option value="Den Haag">Den Haag</option>
                        <option value="Amersfoort">Amersfoort</option>
                        <option value="Amstelveen">Amstelveen</option>
                        <option value="No FMC member">Geen FMC lid</option>
                    </select>
                </div>
            </div>

            <div ng-if="fmcGwModel.type != 'individual'">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="amountPersons">Aantal personen:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="amountPersons" ng-model="fmcGwModel.amountPersons" ng-change="countAmountPersons(fmcGwModel.amountPersons)">
                            <option value="">--</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-repeat="person in fmcGwModel.personsDetails">
                    <label class="col-sm-2 control-label" for="amountPersons"></label>
                    <div class="col-sm-10">
                        <div class="col-sm-4">
                            <label for="firstName.person{{person.id}}">Voornaam persoon {{ person.id }}:</label>
                            <input type="text" class="form-control" name="firstName.person{{person.id}}" ng-model="fmcGwModel.personsDetails[person.id - 1]['firstName']" required />
                        </div>
                        <div class="col-sm-4">
                            <label for="firstName.birthDate{{person.id}}">Geboortedatum:</label>
                            <input type="date" class="form-control" name="firstName.birthDate{{person.id}}" ng-model="fmcGwModel.personsDetails[person.id - 1]['birthDate']" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Te betalen bedrag:</label>
                <div class="col-sm-4">
                    <p class="form-control-static">&euro; {{fmcGwModel.totalAmount}}</p>
                </div>
            </div>

{{fmcGwModel | json }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" ng-model="fmcGwModel.registerDate">
                    <button type="submit" class="btn btn-primary">Valideren</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a class="btn btn-danger" ng-click="removeData()">Remove data</a>
                </div>
            </div>

        </div>

    </form>
</div>